.nav {
	display: inline-block;
    border: transparent;
    background-color: orange;
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-style: italic;
    font-weight: bold;
    border-radius: 10px;
    width: 20%;
    height: 40px;
    box-shadow: 5px 5px 5px #000000;
}
.nav:hover {
	opacity: 0.8;
}

#navi {
	text-align: center;
}

h1 {
    width: 30%;
    margin-left: 34%;
    margin-right: 30%;
    text-align: center;
    background: black;
    color: white;
    display: inline-block;
    padding: 5px;
    border: transparent;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #000000;
}

#search {
	padding: 5px;
    color: black;
    border: outset;
    margin-left: 25%;
    margin-right: 1%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    background-color: white;
}

#input{
	width: 30%;
    padding: 5px;
    margin: 5px;
    border: inset;
    border-radius: 8px;
    box-shadow: 10px 10px 10px #000000;
}

#root {
	display: none;
	text-align: center;
	font-weight: bolder;
}

p.english, p.hindi, p.telugu {
	display: inline-block;
	font-weight: bold;
	color: white;
	width: 250px;
	height: 340px;
	border: thin;
	border-color: transparent;
	border-radius: 10px;
	background: black;
	background-size: 100%;
	box-shadow: inset -9px 20px 20px 6px #000000;
	text-align: end;
	padding: 10px;
	margin-left: 35px;
	margin-right: 25px;
	float: left;
}

p.english:hover, p.hindi:hover, p.telugu:hover, p.english:focus, p.hindi:focus, p.telugu:focus {
	text-transform: uppercase;
	box-shadow: 17px -8px 20px 0px #000000;
}
